.sidebar {
    width: 10vw;
    background-color: white;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;

    >ul {
        display: flex;
        flex-direction: column;
        row-gap: 3vh;

        >li {
            >a {
                >img {
                    width: 48px;
                    height: auto;
                }
            }
        }
    }
}