@import url("https://fonts.googleapis.com/css2?family=Acme&family=Pirata+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: acme;
  background-color: black;
  display: flex;
  flex-direction: column;

  >#root {
    position: relative;
    min-height: 100vh;
  }
}

.page {
  display: flex;
  background-color: white;
}